[submodule "Soren/Vendor/json"]
	path = Soren/Vendor/json
	url = https://github.com/nlohmann/json
	branch = master
[submodule "Soren/Vendor/spdlog"]
	path = Soren/Vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = master
[submodule "Soren/Vendor/eigen"]
	path = Soren/Vendor/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "Soren/Vendor/boost"]
	path = Soren/Vendor/boost
	url = https://github.com/boostorg/boost
